<!doctype html>
{% extends "base.html" %}

{% block title %}
Controlled Compositional Pattern Producing Network
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/cppn_simple.css') }}">
	

<!-- main image container -->
<div class="image-viewer-all">
    <div class="image-viewer-container" style="width:100%;">
        <div class="image-viewer-border">
            <div class="main-image-viewer">
                    <img id="main-img" src="{{ url_for('static', filename=data['landing']) }}" class="img-main" alt="">
            </div>
        </div>
        <!-- buttons for controlling cppn, wired to backend -->
        <div class="button-container" style="width:100%;">
        <!-- generate image with current settings -->
            <button 
                type="button"
                id="random-gen-btn"
                onclick="window.location.href='{{ url_for('generate_image') }}'"
                class="btn btn-lg btn-danger btn-spacing btn-width btn-size">
                Generate
            </button>
            <button 
                type="button"
                id="gen-arch-btn"
                onclick="window.location.href='{{ url_for('generate_image') }}'"
                class="btn btn-lg btn-danger btn-spacing btn-width btn-size">
                Generate
            </button>
            <button 
                type="button"
                id="gen-seed-btn"
                onclick="window.location.href='{{ url_for('generate_image') }}'"
                class="btn btn-lg btn-danger btn-spacing btn-width btn-size">
                Generate
            </button>
	    <div class="btn-group">
	        <button type="button"
                    class="btn btn-lrg btn-spacing btn-width btn-size btn-primary dropdown-toggle"
                    id=save-btn"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
		    Save
	        </button>
	        <div class="dropdown-menu" aria-labeledby="dropdownMenu2">
                    <div class='small-container'>
                        <a href="/download-small" target="_self">
                        <button class='dropdown-item' 
                            id=save-small
                            type="button">Small (256x256)
                        </button>
                        </a> 
                    </div>
                    <div class='lrg-container'>
                        <a href="/download-lrg" target="_self">
                        <button class='dropdown-item'
                            id=save-large
                            type="button">Large (1024x1024)
                        </button>
                        </a> 
                    </div>
                    <div class='desktop1-container'>
                        <a href="/download-desktop1" target="_self">
                        <button class='dropdown-item' 
                            id=save-1k 
                            type="button">Desktop
                        </button>
                        </a> 
                    </div>
                    <div class='desktop2-container'>
                        <a href="/download-desktop2" target="_self">
                        <button class='dropdown-item'
                            id=save-2k 
                            type="button">Desktop 2K
                        </button>
                        </a> 
                    </div>
		    <!--
                    <div class='desktop4-container'>
                        <a href="/download-desktop4" target="_self">
                        <button class='dropdown-item'
                            id=save-4k
                            type="button">Desktop 4K
                        </button>
                        </a> 
                    </div>
		    -->
                    <div class='square2-container'>
                        <a href="/download-square2" target="_self">
                        <button class='dropdown-item'
                            id=save-square2
                            type="button">Square 2K
                        </button>
                        </a> 
                    </div>
		    <!--
                    <div class='square4-container'>
                        <a href="/download-square4" target="_self">
                        <button class='dropdown-item'
                            id=save-square4
                            type="button">Square 4K
                        </button>
                        </a> 
                    </div>
		    -->
	        </div>
            </div>
            <button 
                type="button"
                id="pro-btn"
                onclick="window.location.href='{{ url_for('cppn_viewer') }}'"
                class="btn btn-success btn-spacing-pro, btn-size-pro">
                Pro
            </button>
        </div>

    </div>
    <div class="recent-image-container">
        <div class="recent-image-border">
            <div class="recent-image-viewer">
                <div class='row-img'>
                <img id="recent0"
                     src="{{ url_for('static', filename=data['landing_sm']) }}"
                     class="img-recent"
                     alt="">
                </div>
                <div class='row-img'>
                <img id="recent1"
                     src="{{ url_for('static', filename=data['landing_sm']) }}"
                     class="img-recent"
                     alt="">
                </div>
                <div class='row-img'>
                <img id="recent2"
                     src="{{ url_for('static', filename=data['landing_sm']) }}"
                     class="img-recent"
                     alt="">
                </div>
                <div class='row-img'>
                <img id="recent3"
                     src="{{ url_for('static', filename=data['landing_sm']) }}"
                     class="img-recent"
                     alt="">
                </div>
                <div class='row-img'>
                <img id="recent4"
                     src="{{ url_for('static', filename=data['landing_sm']) }}"
                     class="img-recent"
                     alt="">
                </div>
                <div class='row-img'>
                <img id="recent5"
                     src="{{ url_for('static', filename=data['landing_sm']) }}"
                     class="img-recent"
                     alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function randint(min, max) {
    return Math.floor(Math.random() * (max - min) + min);
}
var random_gen_btn = document.getElementById('random-gen-btn');
img = document.getElementById("main-img"),
    slide_z = document.getElementById('z_range'),
    sliderDiv_z = document.getElementById("z_range_slider_amount"),
    slide_net_width = document.getElementById('net_width_range'),
    sliderDiv_net_width = document.getElementById("net_width_range_slider_amount"),
    slide_z_scale = document.getElementById('z_scale_range'),
    sliderDiv_z_scale = document.getElementById("z_scale_range_slider_amount");

random_gen_btn.onclick = function() {
    var z_rand = randint(2, 8);
    var net_width_rand = randint(2, 20);
    var scale_rand = randint(2, 128);
    console.log('setting random settings:');
    console.log('\tz dim:', z_rand);
    console.log('\tnet width:', net_width_rand);
    console.log('\tz scale:', scale_rand);
    $.post({
        url: "/slider-control",
        data: {"z_range": z_rand,
            "net_width_range": net_width_rand,
            "z_scale_range": scale_rand},

        success: function(response){
            console.log('response: ', response);
            console.log('new z:', response.z);
            console.log('new width:', response.net_width);
            console.log('new z scale:', response.z_scale);
            $.post({
                url: '/generate-image',
                data: {"clear": true, "random-gen": true},
                success: function(response){
                    console.log('set new random image:', response.img);
                    console.log('set new random gallary:', response.recent1);
		    console.log('name:', response.gen_name);
		    console.log('act order:', response.gen_act); 
                    $("#main-img").attr('src', response.img);
                    $("#recent0").attr('src', response.recent1);
                    $("#recent1").attr('src', response.recent2);
                    $("#recent2").attr('src', response.recent3);
                    $("#recent3").attr('src', response.recent4);
                    $("#recent4").attr('src', response.recent5);
                    $("#recent5").attr('src', response.recent6);
		    console.log('setting 8 images: ', response.recent9);
                },
                error: function(error){
                    alert(response);
                    console.log(error);
                }
            });
        },
        error: function(error){
            alert(response);
            console.log(error);
        }
    });
}
</script>
<script>
    var gallary0 = document.getElementById('recent0');
    var gallary1 = document.getElementById('recent1');
    var gallary2 = document.getElementById('recent2');
    var gallary3 = document.getElementById('recent3');
    var gallary4 = document.getElementById('recent4');
    var gallary5 = document.getElementById('recent5');
    gallary0.onclick = function() {
        $.post({
            url: '/regenerate-image',
            data: {"set_to": 0},
            success: function(response){
                console.log('Click: set new image:', response.img);
                console.log('Img path: ', response.img_path_orig);
                $("#main-img").attr('src', response.img);
            },
            error: function(error){
                alert(response);
                console.log(error);
            }
        });

    }
    gallary1.onclick = function() {
        $.post({
            url: '/regenerate-image',
            data: {"set_to": 1},
            success: function(response){
                console.log('Click: set new image:', response.img);
                console.log('Img path: ', response.img_path_orig);
                $("#main-img").attr('src', response.img);
            },
            error: function(error){
                alert(response);
                console.log(error);
            }
        });

    }
    gallary2.onclick = function() {
        $.post({
            url: '/regenerate-image',
            data: {"set_to": 2},
            success: function(response){
                console.log('Click: set new image:', response.img);
                console.log('Img path: ', response.img_path_orig);
                $("#main-img").attr('src', response.img);
            },
            error: function(error){
                alert(response);
                console.log(error);
            }
        });

    }
    gallary3.onclick = function() {
        $.post({
            url: '/regenerate-image',
            data: {"set_to": 3},
            success: function(response){
                console.log('Click: set new image:', response.img);
                console.log('Img path: ', response.img_path_orig);
                $("#main-img").attr('src', response.img);
            },
            error: function(error){
                alert(response);
                console.log(error);
            }
        });

    }
    gallary4.onclick = function() {
        $.post({
            url: '/regenerate-image',
            data: {"set_to": 4},
            success: function(response){
                console.log('Click: set new image:', response.img);
                console.log('Img path: ', response.img_path_orig);
                $("#main-img").attr('src', response.img);
            },
            error: function(error){
                alert(response);
                console.log(error);
            }
        });

    }
    gallary5.onclick = function() {
        $.post({
            url: '/regenerate-image',
            data: {"set_to": 5},
            success: function(response){
                console.log('Click: set new image:', response.img);
                console.log('Img path: ', response.img_path_orig);
                $("#main-img").attr('src', response.img);
            },
            error: function(error){
                // alert(response);
                console.log(error);
            }
        });

    }
</script>

{% endblock %}

