<!doctype html>
{%extends "base.html" %}

{%block title %}
FlowSeries1
{% endblock %}

{% block content %}


<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/flow1.css') }}">
<div class="row">
  <div class="column1">
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_00.png">
        <span class="overlay">flow1-00</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_01.png">
        <span class="overlay">flow1-01</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_02.png">
        <span class="overlay">flow1-02</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_03.png">
        <span class="overlay">flow1-03</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_04.png">
        <span class="overlay">flow1-04</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_05.png">
        <span class="overlay">flow1-05</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_06.png">
        <span class="overlay">flow1-06</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_07.png">
        <span class="overlay">flow1-07</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_08.png">
        <span class="overlay">flow1-08</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_09.png">
        <span class="overlay">flow1-09</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_10.png">
        <span class="overlay">flow1-10</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_11.png">
        <span class="overlay">flow1-11</span>
    </div>
  </div>
  <div class="column2">
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_12.png">
        <span class="overlay">flow1-12</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_13.png">
        <span class="overlay">flow1-13</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_14.png">
        <span class="overlay">flow1-14</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_15.png">
        <span class="overlay">flow1-15</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_16.png">
        <span class="overlay">flow1-16</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_17.png">
        <span class="overlay">flow1-17</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_18.png">
        <span class="overlay">flow1-18</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_19.png">
        <span class="overlay">flow1-19</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_20.png">
        <span class="overlay">flow1-20</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_21.png">
        <span class="overlay">flow1-21</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_22.png">
        <span class="overlay">flow1-22</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_23.png">
        <span class="overlay">flow1-23</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_25.png">
        <span class="overlay">flow1-25</span>
    </div>
  </div>
  <div class="column1">
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_26.png">
        <span class="overlay">flow1-26</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_27.png">
        <span class="overlay">flow1-27</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_28.png">
        <span class="overlay">flow1-28</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_29.png">
        <span class="overlay">flow1-29</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_30.png">
        <span class="overlay">flow1-30</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_31.png">
        <span class="overlay">flow1-31</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_32.png">
        <span class="overlay">flow1-32</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_33.png">
        <span class="overlay">flow1-33</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_34.png">
        <span class="overlay">flow1-34</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_35.png">
        <span class="overlay">flow1-35</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_36.png">
        <span class="overlay">flow1-36</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_37.png">
        <span class="overlay">flow1-37</span>
    </div>
  </div>
  <div class="column2">
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_38.png">
        <span class="overlay">flow1-38</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_39.png">
        <span class="overlay">flow1-39</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_40.png">
        <span class="overlay">flow1-40</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_41.png">
        <span class="overlay">flow1-41</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_42.png">
        <span class="overlay">flow1-42</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_43.png">
        <span class="overlay">flow1-43</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_44.png">
        <span class="overlay">flow1-44</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_45.png">
        <span class="overlay">flow1-45</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_46.png">
        <span class="overlay">flow1-46</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_47.png">
        <span class="overlay">flow1-47</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_48.png">
        <span class="overlay">flow1-48</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_49.png">
        <span class="overlay">flow1-49</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series1/flow1_50.png">
        <span class="overlay">flow1-50</span>
    </div>
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img id="modal-img" class="modal-content"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQS2ol73JZj6-IqypxPZXYS3rRiPwKteoD8vezk9QsRdkjt3jEn&usqp=CAU">
      
  <div id="caption"></div>
</div>

<div class="outer">
    <div class="d">
        <p> Its 3AM and I can't stress enough how important weight init is.  
        </p>
    </div>
</div>


<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
// var img = document.getElementById("myImg");
var modalImg = document.getElementById("modal-img");
var captionText = document.getElementById("caption");
// img.onclick = function(){
//   modal.style.display = "block";
//   modalImg.src = this.src;
//   captionText.innerHTML = this.alt;
// }


document.addEventListener("click", (e) => {
  const elem = e.target;
  if (elem.id==="myImg") {
    modal.style.display = "block";
    modalImg.src = elem.dataset.biggerSrc || elem.src;
    captionText.innerHTML = elem.alt; 
  }
})

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}
</script>
{% endblock %}

