<!doctype html>
{%extends "base.html" %}

{%block title %}
Flowseries3
{% endblock %}

{% block content %}


<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/flow3.css') }}">
<div class="row">
  <div class="column1">
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_0.png">
        <span class="overlay">flow3-00</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_1.png">
        <span class="overlay">flow3-01</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_2.png">
        <span class="overlay">flow3-02</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_3.png">
        <span class="overlay">flow3-03</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_4.png">
        <span class="overlay">flow3-04</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_5.png">
        <span class="overlay">flow3-05</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_6.png">
        <span class="overlay">flow3-06</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_7.png">
        <span class="overlay">flow3-07</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_8.png">
        <span class="overlay">flow3-08</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_9.png">
        <span class="overlay">flow3-09</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_10.png">
        <span class="overlay">flow3-10</span>
    </div>
  </div>
  <div class="column2">
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_11.png">
        <span class="overlay">flow3-11</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_12.png">
        <span class="overlay">flow3-12</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_13.png">
        <span class="overlay">flow3-13</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_14.png">
        <span class="overlay">flow3-14</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_15.png">
        <span class="overlay">flow3-15</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_16.png">
        <span class="overlay">flow3-16</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_17.png">
        <span class="overlay">flow3-17</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_18.png">
        <span class="overlay">flow3-18</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_19.png">
        <span class="overlay">flow3-19</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_20.png">
        <span class="overlay">flow3-20</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_21.png">
        <span class="overlay">flow3-21</span>
    </div>
  </div>
  <div class="column1">
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_22.png">
        <span class="overlay">flow3-22</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_23.png">
        <span class="overlay">flow3-23</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_24.png">
        <span class="overlay">flow3-24</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_25.png">
        <span class="overlay">flow3-25</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_26.png">
        <span class="overlay">flow3-26</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_27.png">
        <span class="overlay">flow3-27</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_28.png">
        <span class="overlay">flow3-28</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_29.png">
        <span class="overlay">flow3-29</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_30.png">
        <span class="overlay">flow3-30</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_31.png">
        <span class="overlay">flow3-31</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_32.png">
        <span class="overlay">flow3-32</span>
    </div>
  </div>
  <div class="column2">
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_34.png">
        <span class="overlay">flow3-34</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_35.png">
        <span class="overlay">flow3-35</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_36.png">
        <span class="overlay">flow3-36</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_37.png">
        <span class="overlay">flow3-37</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_38.png">
        <span class="overlay">flow3-38</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_39.png">
        <span class="overlay">flow3-39</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_40.png">
        <span class="overlay">flow3-40</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_41.png">
        <span class="overlay">flow3-41</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_42.png">
        <span class="overlay">flow3-42</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_43.png">
        <span class="overlay">flow3-43</span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/flow-series3/flow3_44.png">
        <span class="overlay">flow3-44</span>
    </div>
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img id="modal-img" class="modal-content"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQS2ol73JZj6-IqypxPZXYS3rRiPwKteoD8vezk9QsRdkjt3jEn&usqp=CAU">
      
  <div id="caption"></div>
</div>

<div class="outer">
    <div class="d">
        <p> I've gone up to 12K x 12K, takes forever but the detail is insane. 
        </p>
    </div>
</div>


<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
// var img = document.getElementById("myImg");
var modalImg = document.getElementById("modal-img");
var captionText = document.getElementById("caption");
// img.onclick = function(){
//   modal.style.display = "block";
//   modalImg.src = this.src;
//   captionText.innerHTML = this.alt;
// }


document.addEventListener("click", (e) => {
  const elem = e.target;
  if (elem.id==="myImg") {
    modal.style.display = "block";
    modalImg.src = elem.dataset.biggerSrc || elem.src;
    captionText.innerHTML = elem.alt; 
  }
})

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}
</script>
{% endblock %}

