<!doctype html>
{%extends "base.html" %}

{%block title %}
windows
{% endblock %}

{% block content %}


<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/windows.css') }}">
<div class="row">
  <div class="column1">
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV4_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-42_3.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-7-2DGrad_tri2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV13_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22_0.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-7-tri_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-9-tri_2.png">
        <span class="overlay"> </span>
    </div>
  </div>
  <div class="column2">
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV5_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-13tri_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-12NN_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-15_tri3_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-16_tri.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-19_tri3_2_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-20_tri3_3.png">
        <span class="overlay"> </span>
    </div>
  </div>
  <div class="column1">
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV6_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-21_tri3_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-24_tri2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-29_tri3_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-32_tri3_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-33_tri3_2_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV_save4_2.png">
        <span class="overlay"> </span>
    </div>
  </div>
  <div class="column2">
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-36_tri3_2_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-25_tri3_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-28_tri3_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-38_tri_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-39_tri2_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV_save3_2.png">
        <span class="overlay"> </span>
    </div>
    <div class="container">
        <img id="myImg" class="img-fluid" src="/images/gallery_imgs/windows/VV22-17NN3_2.png">
        <span class="overlay"> </span>
    </div>
  </div>
</div>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img id="modal-img" class="modal-content"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQS2ol73JZj6-IqypxPZXYS3rRiPwKteoD8vezk9QsRdkjt3jEn&usqp=CAU">
      
  <div id="caption"></div>
</div>

<div class="outer">
    <div class="d">
        <p> Windows is a very simple collection to make once the backbones for all
        the other collections is in place. Its much the same process as HyperEvolution
        or Digital Flow, but with an added dimension. 
        <br><br>
        Individual pieces from HyperEvolution or Digital Flow can be thought of as 
        views into the internals of a massively high dimensional neural network. 
        Like 2D slices of an otherwise incomprehensible landscape. The pieces that make 
        up Windows, are like 3D volumes that have been cut from this landscape. 
        The curves and shapes made by undulating surfaces seen in Windows, are a sort of 
        self-portrait of an AI. 
        <br><br>
        There's a lot of AI art out there right now, and the creativity expressed by these
        tools together with their users, is only going to grow. While you can even ask these 
        AI artists to create something like a self-portrait, Windows is a true picture of 
        their internals, rather than just a projection of self. 
        <br><br>
        </p>
    </div>
    <div class="networks">
        <div class="netpic"><img id="graphImg" src="/images/WS_75nodes.png"></div>
    </div>
</div>


<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
// var img = document.getElementById("myImg");
var modalImg = document.getElementById("modal-img");
var captionText = document.getElementById("caption");
// img.onclick = function(){
//   modal.style.display = "block";
//   modalImg.src = this.src;
//   captionText.innerHTML = this.alt;
// }


document.addEventListener("click", (e) => {
  const elem = e.target;
  if (elem.id==="myImg") {
    modal.style.display = "block";
    modalImg.src = elem.dataset.biggerSrc || elem.src;
    captionText.innerHTML = elem.alt; 
  }
})

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}
</script>
{% endblock %}

